Add support for more jsonschema builtin string formats

From http://spacetelescope.github.io/understanding-json-schema/reference/string.html

The following is the list of formats specified in the JSON Schema specification.

-    "date-time": Date representation, as defined by RFC 3339, section 5.6.
-    "email": Internet email address, see RFC 5322, section 3.4.1.
-    "hostname": Internet host name, see RFC 1034, section 3.1.
-    "ipv4": IPv4 address, according to dotted-quad ABNF syntax as defined in RFC 2673, section 3.2.
-    "ipv6": IPv6 address, as defined in RFC 2373, section 2.2.
-    "uri": A universal resource identifier (URI), according to RFC3986.


`date-time` string format support has landed in #116.

Fixed by #113.